/local
/docs

# .idea
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/serialmonitor_settings.xml

# CMake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
cmake-build-*

# VSC++
*.vcxproj
*.vcxproj.filters
*.sln
/csgopp.dir
/Debug
/Release
/x64
/x86

# Conan
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json
